@tailwind base; 
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white;
  }

  /* div {
    @apply mb-8;
  } */

  section {
    @apply mb-4;
  }
  
  h1 {
    @apply text-4xl font-bold;
  }
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: url('/public/assets/images/marvel-wp-2.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: fixed;
  object-fit: contain;
}

.appContainer {
  /* width: 85vw; */
  /* max-width: 95%; */
  margin-top: 7.5em;
}

.headerSection {
  width: 100%;
  position: fixed;
  display: block;
}

.page {
  /* background-color:#680709; */
  background-color: white;
}

